body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
   
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
}
.mini-container-1:hover{
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0, 1);
}
.mini-container-2:hover{
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0, 1);
}
.mini-container-3:hover{
    
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0, 1);
    
}
#image{
    height: 500px;
    width: 500px;
}

.button{
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.button:hover{
    background-color: #5a6268;
}
.footer{
    width: 100%;
    text-align: right;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #333;
    font-size: 0.8em;
}

